---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import myImage from "../assets/image.jpg";
import myImage2 from "../assets/image2.jpg";
---

<Layout title="Welcome to Astro.">
	<main>
		<Picture src={myImage} formats={['avif', 'webp']} widths={[500, 1000]} alt="Sample image." />
		<Picture src={myImage2} formats={['avif', 'webp']} widths={[500, 1000]} alt="Another sample image." />
	</main>
</Layout>

<style>
	main {
		max-width: 36rem;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	img {
		width: 100%;
		height: auto;
	}
</style>
